@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --dark-gray:hsl(0, 0%, 63%);
    --black:hsl(0, 0%, 0%);
    --very-dark-gray:hsl(0, 0%, 27%);

  }
*{
    font-family: 'Spartan', sans-serif;
    margin: 0;
}
body{
    font-size: 12px;
    overflow-x: hidden;
}
.d-flex{
    display: flex;
}
.header-nav{
    background-color: transparent;
    position: absolute;
    top: 1.8rem;
    left: 4.8rem;
    align-items: center;
}
.nav-list{
    list-style: none;
}
.nav-item{
    margin: 1.2rem;
}
.nav-link{
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    padding-bottom: 8px;

}
.nav-item:hover .nav-link{
    border-bottom: 1.8px solid white;
}
.slide-item{
    align-items: center;
}
.slide-item .image{
    background:url("/images/desktop-image-hero-1.jpg") ;
    height: 534px;
    width: 840px;
}
.text-content{
    padding: 5.2em;
}
.text-content h3 {
    color: var(--black);
    font-size: 28px;
    margin-bottom: 2.4rem;
}
.text-content p,.about-section  .content p{
    color: var(--dark-gray);
    word-spacing: 0.3em;
    margin-bottom: 2.1rem;
    line-height: 1.6;
}
.action-btn a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0.4em;
}
.action-btn a span{
    margin-left: px;
}

.slider-btns{
    /* position: absolute;
    bottom: 0; */
    margin-bottom: -4.4rem;
}
.slider-btn {
    background-color: var(--black);
    padding: 1.2em 1.8em;
}
.slider-btn:hover{
    cursor: pointer;
    background-color: var(--very-dark-gray);
}

.hidden{
    display: none;
}

 /* .light-side ,.dark-side{
    max-width: 20%;
}  */
.about-section {
}
.about-section  .content{
    flex: 0 0 34.5em;
    padding: 5.0em;
    padding-top: 0;
} 
.about-section  .content h3{
    color: var(--black);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-bottom: 1.8rem ;
    margin-top: 1.8rem;
}
.about-section .dark-side{
}


