:root {
    --white: hsl(0, 0%, 100%);
    --dark-gray:hsl(0, 0%, 63%);
    --black:hsl(0, 0%, 0%);
    --very-dark-gray:hsl(0, 0%, 27%);

  }
*{
    font-family: 'Karla', sans-serif;
    margin: 0;
}