@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --dark-gray:hsl(0, 0%, 63%);
    --black:hsl(0, 0%, 0%);
    --very-dark-gray:hsl(0, 0%, 27%);

  }
*{
    font-family: 'Spartan', sans-serif;
    margin: 0;
}
body{
    font-size: 12px;
    overflow-x: hidden;
}
.d-flex{
    display: flex;
}
.header-nav{
    background-color: transparent;
    position: absolute;
    top: 1.8rem;
    left: 4.8rem;
    align-items: center;
}
.nav-list{
    list-style: none;
}
.nav-item{
    margin: 1.2rem;
}
.nav-link{
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    padding-bottom: 8px;

}
.nav-item:hover .nav-link{
    border-bottom: 1.8px solid white;
}
.slide-item{
    align-items: center;
    position: relative;
}
.slide-item .image{
    height: 534px;
}
.image img{
    visibility: hidden;
}
.text-content{
    padding: 48px;
}
.text-content h3 {
    color: var(--black);
    font-size: 28px;
    margin-bottom: 18px;
}
.text-content p,.about-section  .content p{
    color: var(--dark-gray);
    word-spacing: 0.3em;
    margin-bottom: 2.1rem;
    line-height: 1.8;
}
.action-btn a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0.4em;
}
.action-btn a span{
    margin-left: px;
}

.slider-btns{
     position: absolute;
    bottom: 0; 
    /* margin-bottom: -104px; */
}
.slider-btn {
    background-color: var(--black);
    padding: 1.2em 1.8em;
}
.slider-btn:hover{
    cursor: pointer;
    background-color: var(--very-dark-gray);
}
.toggle-btn{
    display: none;
}
#toggleBtn{
background-image: url('/images/icon-hamburger.svg');
width: 32px;
height: 32px;
background-repeat: no-repeat;
}


.hidden{
    display: none;
}

  .light-side ,.dark-side{
    flex: 0 0 32.5em;
}  
.about-section  .content{
    flex: 0 0 34.5em;
    padding: 5.0em;
    padding-top: 0;
} 
.about-section  .content h3{
    color: var(--black);
    font-size: 15px;
    text-transform: uppercase;
    word-spacing: 0.5em;
    letter-spacing: 0.3em;
    margin-bottom: 1.8rem ;
    margin-top: 1.8rem;
}

.action-btn:hover  a{
    opacity: 0.5;
}
.slide-item-1{
    background-image: url('/images/desktop-image-hero-1.jpg');
    background-repeat: no-repeat;
}

.slide-item-2{
    background-image: url('/images/desktop-image-hero-2.jpg');
    background-repeat: no-repeat;
}
.slide-item-3{
    background-image: url('/images/desktop-image-hero-3.jpg');
    background-repeat: no-repeat;
}
/* Mobile Styles */
@media only screen and (max-width: 600px){
    .toggle-btn{
        display: block;
        float: left;
        margin: 42px 16px ;
    }
    .nav-list{
        display: none;
    }

    .responsive .opened#toggleBtn{
        background-image: url('/images/icon-close.svg');
        background-repeat: no-repeat;
    }
    .responsive {position: relative;}
    .responsive button.toggle-btn {
        z-index: 1;
        display: block;
        position: absolute;
        margin: 42px 16px ;
    }
    .responsive {position: relative;}
    .responsive .nav-list {
      display: flex;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      align-items: center;
      min-width: 89%;
      height: 102px;
    }
    .responsive .nav-list .nav-link{
            color: var(--black);
    }
    .header-nav {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .nav-brand{
    display: none;
    }
    .slide-item ,.about-section{
        flex-direction: column;
    }
    .slide-item .image{
        background: url('/images/mobile-image-hero-1.jpg') no-repeat;
        height: 0;
        background-size: contain;
        width: 100%;
        padding-top: 96%;
    }
    .slide-item-2 .image{
        background: url('/images/mobile-image-hero-2.jpg') no-repeat;
    }
    .slide-item-3 .image{
        background: url('/images/mobile-image-hero-3.jpg') no-repeat;
    }

    .dark-side img, .light-side img {
        width: 100%;
    }
    .content-wrapper{
        position: relative;
    }
    .slider-btns {
        position: absolute;
        top: -57px;
        right: 0;
        bottom: unset;
    }

}
